.#{$prefix}-header {
  padding: 15px 0;
  font-size: 18px;
  background-color: #ffffff;
  li {
    display: inline-block;
    vertical-align: middle;
    a.main-links {
      color: #444444 !important;
      display: block;
      padding: 10px 25px 10px;
      text-transform: none;
      border: none;
      @include hover-focus-active {
        background-color: transparent;
        outline: none;
        color: #eeeeee !important;
      }
    }
  }
}
