<header class="${ require('../../../conf').prefix }-header">
  <div class="container-fluid">
    <div class="flex-row align-items-center justify-content-between">
      <div class="flex-col-auto">
        <a class="${ require('../../../conf').prefix }-logo" href="${ require('../../../conf').BASE_URL }"> <img class="img-responsive"
                                                                               src="../../assets/images/logo.svg"
                                                                               alt="${ require('../../../conf').name }"> </a>
      </div>
      <div class="flex-col-auto">
        <button type="button"
                class="navbar-toggler navbar_toggler visible-xs visible-sm"
                data-toggle="collapse"
                data-target="#navBar"
                aria-expanded="false">
          <span class="line top"></span> <span class="line mid"></span> <span class="line bot mb-0"></span>
        </button>
        <div class="collapse navbar-collapse" id="navBar" aria-expanded="false">
          <ul class="nav">
            <li>
              <a class="main-links" href="${ require('../../../conf').BASE_URL }/explore/" target="_blank" title="Explore">Explore</a>
            </li>
            <li>
              <a class="main-links" href="${ require('../../../conf').BASE_URL }/play/" target="_blank" title="Play">Play</a>
            </li>
            <li>
              <a class="main-links" href="${ require('../../../conf').BASE_URL }/eat/" target="_blank" title="Eat">Eat</a>
            </li>
            <li>
              <a class="main-links" href="${ require('../../../conf').BASE_URL }/stay/" target="_blank" title="Stay">Stay</a>
            </li>
            <li>
              <a id="last-item-main-links"
                 class="main-links"
                 href="${ require('../../../conf').BASE_URL }/deals/"
                 target="_blank"
                 title="Deals">Deals</a>
            </li>
            <li>
              <a id="south-side"
                 class="main-links"
                 href="${ require('../../../conf').BASE_URL }/tripbuilder/"
                 target="_blank"
                 title="Deals">My Seattle Southside Trip</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
