@font-face {
    font-family: 'Ronnia';
    src: url('./Ronnia-Regular.eot');
    src: url('./Ronnia-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Ronnia-Regular.woff2') format('woff2'),
        url('./Ronnia-Regular.woff') format('woff'),
        url('./Ronnia-Regular.ttf') format('truetype'),
        url('./Ronnia-Regular.svg#Ronnia-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

