$hamburger-prefix: 'icon' !default;
$open-classname: '[aria-expanded="true"]' !default;
$bar-color: #000000 !default;
$bar-height: .1em !default;
$bar-width: .75em !default;
$bar-spacing: .24em;
$hamburger-selector: #{$hamburger-prefix}-hamburger !default;
