<!-- HERO -->
<section class="page-hero checkout-hero" style="margin-bottom:20px;">
  <!-- MOBILE IMAGE -->
  <div class="checkout-hero--background visible-xs"
       style="background-image: url('https://res.cloudinary.com/bandwango/image/upload/v1529246260/Seattle%20Southside/GMS_Seattle_copy.jpg');background-position: top center;">
  
  </div>
  <!-- DESKTOP IMAGE -->
  <div class="checkout-hero--background hidden-xs"
       style="background-image: url('https://res.cloudinary.com/bandwango/image/upload/v1529246260/Seattle%20Southside/GMS_Seattle_copy.jpg');background-position: top center;">
  
  </div>
  <div class="container-fluid">
    <div class="flex-row align-items-center">
      <div class="flex-col flex-col-sm-auto offset-sm-1 hidden-xs">
        <div class="checkout-hero--iphone">
          <img class="img-responsive"
               src="https://res.cloudinary.com/bandwango/image/upload/v1515642229/bxb2hgm8rthj2rx3b08f.png"
               alt=" ">
        </div>
      </div>
      <div class="flex-col">
        <div class="flex-row align-items-center">
          <div class="flex-col-10 flex-col-sm-12">
            <h1 class="checkout-hero--title">Do more, save more in <br/> Seattle's backyard.</h1>
            <div class="checkout-hero--action hidden-xs">
              <a href="" class="btn checkout-hero--btn"> Get Your Passport </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row visible-xs">
      <div class="flex-col-12 text-center align-self-end">
        <a role="button" class="checkout-hero--arrow">
          <svg class="img-responsive" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97.83 24.51">
            <path fill="#FFFFFF"
                  d="M99.08,30.1A1.5,1.5,0,0,0,97.63,29a1.48,1.48,0,0,0-.39.05l-47,18.6L3.19,29a1.5,1.5,0,1,0-.78,2.9L49.74,50.62a1.44,1.44,0,0,0,.38.05h0.19a1.45,1.45,0,0,0,.38,0L98,31.94A1.5,1.5,0,0,0,99.08,30.1Z"
                  transform="translate(-1.31 -28.99)"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
