.checkout-hero {
  position: relative;
  font-size: 14px;
  .container-fluid > .flex-row:first-child {

    @media(max-width: $screen-xs) {
      text-align: left;
    }
    @media(min-width: $screen-sm) {
      min-height: 600px;
      padding: 0 0 12%;
    }
  }
  .container-fluid > .flex-row > [class^="flex-col"]:first-child {
    display: none;
  }
  .checkout-hero--title {
    font-weight: 300;
    color: #044076;
    text-shadow: none;
    font-size: 30px;
    text-transform: none;
    line-height: 1.4;
    @media(min-width: $screen-sm) {
      font-size: 38px;
    }
  }
  .checkout-hero--btn {
    border-radius: 6px;
    background-color: #044076;
    color: #ffffff;
    text-transform: none;
    border: none;
    width: auto;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(#000000, 0.65);
  }
}
