.page-hero--jumbotron {
  margin-top: -75px;
  position: relative;
  z-index: 10;
  .jumbotron {
    padding: 0;
    background-color: #fff;
    box-shadow: 0px 2px 14px 1px #00000030;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px;
    [class^="flex-col"]:first-child {
      padding: 40px !important;
      @media (min-width: $screen-sm) {
        padding: 50px !important;
      }
    }
    @media (min-width: $screen-sm) {
      margin: 0 !important;
    }
  }
  h5 {
    color: #044076;
    font-weight: 300;
    line-height: 1.4;
    font-size: 12px
  }
  h3 {
    font-size: 20px;
    color: #044076;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 15px;
    @media (min-width: 768px) {
      font-size: 26px
    }
  }
  p {
    font-size: 16px;
    color: #808080;
  }

}

.hero-jumbotron--action {
  margin-top: 30px;
}

.hero-jumbotron--btn {
  color: #000;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
  text-transform: none;
  @include hover-focus-active {
    background-color: #074075;
    color: #ffffff;
    box-shadow: none;
  }
}

.hero-jumbotron--image {
  background-size: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
}
