@font-face {
    font-family: 'streamline-30px';
    src: url('streamline-30px.eot');
    src: url('streamline-30px.eot?#iefix') format('embedded-opentype'),
        url('streamline-30px.woff2') format('woff2'),
        url('streamline-30px.woff') format('woff'),
        url('streamline-30px.ttf') format('truetype'),
        url('streamline-30px.svg#streamline-30px') format('svg');
    font-weight: normal;
    font-style: normal;
}

