<main role="main">
  <div class="${ require('../../../conf').prefix }-main--content">
    <section class="${ require('../../../conf').prefix }-content--section" id="moments">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="my-5">
              <h2>Moments</h2>
            </div>
          </div>
          <div class="col-12">
            <div class="row masonry no-gutters">
              <div class="col-12 col-sm-4 col-md-3 grid-item">
                <img src="${require('../../assets/images/places/place1.png')}" alt="" class="img-fluid w-100">
              </div>
              <div class="col-12 col-sm-4 col-md-3 grid-item">
                <img src="${require('../../assets/images/places/place2.png')}" alt="" class="img-fluid w-100">
              </div>
              <div class="col-12 col-sm-4 col-md-3 grid-item">
                <img src="${require('../../assets/images/places/place3.png')}" alt="" class="img-fluid w-100">
              </div>
              <div class="col-12 col-sm-4 col-md-3 grid-item">
                <img src="${require('../../assets/images/places/place4.png')}" alt="" class="img-fluid w-100">
              </div>
              <div class="col-12 col-sm-4 col-md-3 grid-item">
                <img src="${require('../../assets/images/places/place5.png')}" alt="" class="img-fluid w-100">
              </div>
              <div class="col-12 col-sm-4 col-md-3 grid-item">
                <img src="${require('../../assets/images/places/place6.png')}" alt="" class="img-fluid w-100">
              </div>
  
  
              <div class="col-12 col-sm-4 col-md-3 grid-item">
                <img src="${require('../../assets/images/places/place2-1.png')}" alt="" class="img-fluid w-100">
              </div>
              <div class="col-12 col-sm-4 col-md-3 grid-item">
                <img src="${require('../../assets/images/places/place2-2.png')}" alt="" class="img-fluid w-100">
              </div>
              <div class="col-12 col-sm-4 col-md-3 grid-item">
                <img src="${require('../../assets/images/places/place2-3.png')}" alt="" class="img-fluid w-100">
              </div>
              <div class="col-12 col-sm-4 col-md-3 grid-item">
                <img src="${require('../../assets/images/places/place2-4.png')}" alt="" class="img-fluid w-100">
              </div>
              <div class="col-12 col-sm-4 col-md-3 grid-item">
                <img src="${require('../../assets/images/places/place2-5.png')}" alt="" class="img-fluid w-100">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="${ require('../../../conf').prefix }-content--section" id="transportation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 text-center">
            <div class="my-5">
              <h2>Transportation</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="${ require('../../../conf').prefix }-content--section" id="contact">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 text-center">
            <div class="my-5">
              <h2>Contact Us</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
