<section class="page-section checkout-steps">
  <div class="container-fluid">
    <div class="flex-row">
      <div class="flex-col-12">
        <h2 class="page-section--heading text-center">
          Make saving on the Southside easy </h2>
      </div>
    </div>
    <div class="flex-row checkout-steps--step align-items-center justify-content-around">
      <div class="flex-col-sm-4">
        <h2 class="mt-0">Explore your deals</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa magni nam odio quis sed vero voluptas voluptatem. Adipisci consequatur culpa cumque dolorem ducimus eum magni minima molestias nemo soluta!</p>
      </div>
      <div class="flex-col-sm-auto"><img src="../../assets/images/step-1.jpg"
                                         alt=""
                                         class="img-responsive img-rounded m-auto"></div>
    </div>
    <div class="flex-row checkout-steps--step align-items-center justify-content-around">
      <div class="flex-col-sm-4 order-sm-1">
        <h2 class="mt-0">Ready right away</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa magni nam odio quis sed vero voluptas voluptatem. Adipisci consequatur culpa cumque dolorem ducimus eum magni minima molestias nemo soluta!</p>
      </div>
      <div class="flex-col-sm-auto"><img src="../../assets/images/step-2.jpg"
                                         alt=""
                                         class="img-responsive img-rounded m-auto"></div>
    </div>
    <div class="flex-row checkout-steps--step align-items-center justify-content-around">
      <div class="flex-col-sm-4">
        <h2 class="mt-0">Show and save</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa magni nam odio quis sed vero voluptas voluptatem. Adipisci consequatur culpa cumque dolorem ducimus eum magni minima molestias nemo soluta!</p>
      </div>
      <div class="flex-col-sm-auto"><img src="../../assets/images/step-3.jpg"
                                         alt=""
                                         class="img-responsive img-rounded m-auto"></div>
    </div>
  </div>
</section>
