.checkout-steps {
  img {
    width: 400px;
  }
}

.checkout-steps--step {
  position: relative;
  counter-increment: checkout-steps--step;
  margin-top: 30px;
  h2 {
    &:before {
      content: counter(checkout-steps--step);
      font-weight: 700;
      color: #E06715;
      line-height: 1;
      margin-right: 20px;
      @media(min-width: $screen-sm) {
        position: absolute;
        top: -10px;
        left: 10px;
        font-size: 80px;
        margin-right: 0;
      }
    }
  }
  [class^="flex-col"]:first-child{
    @media(min-width: $screen-sm) {
      padding: 0 0 0 75px;
    }
  }
  img {
    margin-top: 50px;
    display: block;
    width: 100%;
    @media(min-width: $screen-sm) {
      margin-top: 0;
    }
  }
  @media(min-width: $screen-sm) {
    padding: 20px;
    margin-top: 50px;
  }
}
