@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import "variables";
@import "~bootstrap/scss/mixins";

body {
  font-family: "Open Sans", sans-serif;
  font-stretch: condensed;
}

.#{$prefix}-header {
  padding: 15px 0;
  font-size: 18px;
  background-color: #ffffff;
  li {
    display: inline-block;
    vertical-align: middle;
    a.main-links {
      color: #9d9d9d !important;
      display: block;
      padding: 10px 25px 10px;
      text-transform: none;
      border: none;
      @include hover-focus-active {
        background-color: transparent;
        outline: none;
        color: #444444;
      }
    }
  }
}

.checkout-hero .container-fluid > .flex-row:first-child {
  min-height: 80vh;
}

.checkout-hero .container-fluid > .flex-row > [class^="flex-col"]:first-child {
  display: none;
}

.checkout-hero--title {
  font-weight: 300;
  color: #044076;
  text-shadow: none;
  font-size: 40px;
  text-transform: none;
}

.checkout-hero--btn {
  border-radius: 6px;
  background-color: #044076;
  color: #ffffff;
  text-transform: none;
  border: none;
  width: auto;
}

.checkout-venues--section {
  padding-right: 10px;
  padding-left: 10px;
}

.checkout-venue--image {
  img {
    border-radius: 5px;
    width: 100%;
  }
}

.page-section {
  h2, h3, h4 {
    color: #4c769e;
  }
}

.checkout-venues--number {
  color: #d88611;
  font-size: 20px;
  margin-bottom: 0;
}

.checkout-venue--title {
  line-height: 1.2;
  margin-top: 10px;
  font-size: 20px;
}

.checkout-venue--content {
  font-size: 16px;
  color: #9d9d9d
}

.checkout-venue--header {
  margin-bottom: 5px;
}

.passport-section {
  background-color: #EAEAFF;
}

.passport-single-venue {
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px 2px hsla(0,0%,68%,.35)
}

.passport-single--title {
  padding: 10px 15px;
  color: #9d9d9d;
  min-height: 130px;
  h4{
    font-size: 16px;
  }

}

.passport-single--image {
  width: auto;
  height: 100%;
  background-size: cover;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navbar_toggler {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 15px;
  display: block;
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 100;
  outline: none;
}

.navbar_toggler .line {
  display: block;
  height: 2px;
  border-radius: 5px;
  background: black;
  margin-bottom: 6px;
  -webkit-transition: 0.4s all cubic-bezier(0.93, 0.03, 0.23, 1.01);
  -o-transition: 0.4s all cubic-bezier(0.93, 0.03, 0.23, 1.01);
  transition: 0.4s all cubic-bezier(0.93, 0.03, 0.23, 1.01);
}
