<% const project = require('../conf'); %>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= project.description %></title>

</head>
<body>
  <div class="main-wrapper">
    <%= require('html-loader?interpolate!./partials/header/header.html') %>
    <main role="main" class="home-page">
      <%= require('html-loader?interpolate!./partials/hero/hero.html') %>
      <%= require('html-loader?interpolate!./partials/hero-jumbotron/hero-jumbotron.html') %>
      <%= require('html-loader?interpolate!./partials/steps/steps.html') %>
      
      <section class="page-section checkout-venues--section">
        <div class="container-fluid">
          <div class="flex-row">
            <div class="flex-col-12 text-center">
              <h2>Make saving on the Southside easy</h2>
            </div>
            <div class="flex-col-12">
              <div class="checkout-single--venue">
                <div class="flex-row">
                  <div class="flex-col-12">
                    <div class="checkout-venue--image">
                      <img src="https://res.cloudinary.com/bandwango/image/upload/c_fit,h_500,w_500/c0fxj78rsekymilpj6uy"
                           alt="">
                    </div>
                  </div>
                  <div class="flex-col">
                    <div class="checkout-venue--details">
                      <div class="checkout-venue--header">
                        <div class="flex-row align-items-center">
                          <div class="flex-col-auto">
                            <span class="checkout-venues--number"><b>1</b></span>
                          </div>
                          <div class="flex-col pl-0">
                            <h3 class="checkout-venue--title">Explore your deals</h3>
                          </div>
                        </div>
                      </div>
                      <div class="checkout-venue--content">
                        <div class="flex-row">
                          <div class="flex-col-12">
                            <p>Your Do More / Save More Passport is a curated collection of great deals discounts for the best of Seattle Southside.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-col-12">
              <div class="checkout-single--venue">
                <div class="flex-row">
                  <div class="flex-col-12">
                    <div class="checkout-venue--image">
                      <img src="https://res.cloudinary.com/bandwango/image/upload/c_fit,h_500,w_500/xcolex0wbzkf7qhksftm"
                           alt="">
                    </div>
                  </div>
                  <div class="flex-col">
                    <div class="checkout-venue--details">
                      <div class="checkout-venue--header">
                        <div class="flex-row align-items-center">
                          <div class="flex-col-auto">
                            <span class="checkout-venues--number"><b>2</b></span>
                          </div>
                          <div class="flex-col pl-0">
                            <h3 class="checkout-venue--title">Ready right away</h3>
                          </div>
                        </div>
                      </div>
                      <div class="checkout-venue--content">
                        <div class="flex-row">
                          <div class="flex-col-12">
                            <p>Your pass will be instantly delivered to your phone via text and email and is readt to use immediately! There are no apps to download.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-col-12">
              <div class="checkout-single--venue">
                <div class="flex-row">
                  <div class="flex-col-12">
                    <div class="checkout-venue--image">
                      <img src="https://res.cloudinary.com/bandwango/image/upload/c_fit,h_500,w_500/c0fxj78rsekymilpj6uy"
                           alt="">
                    </div>
                  </div>
                  <div class="flex-col">
                    <div class="checkout-venue--details">
                      <div class="checkout-venue--header">
                        <div class="flex-row align-items-center">
                          <div class="flex-col-auto">
                            <span class="checkout-venues--number"><b>3</b></span>
                          </div>
                          <div class="flex-col pl-0">
                            <h3 class="checkout-venue--title">Show and save</h3>
                          </div>
                        </div>
                      </div>
                      <div class="checkout-venue--content">
                        <div class="flex-row">
                          <div class="flex-col-12">
                            <p>When visiting a venue simply present your phone to redeem your discounts and special offers.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="page-section passport-section">
        <div class="container-fluid">
          <div class="flex-row">
            <div class="flex-col-12 text-center">
              <h2>Your Passport deals & discounts</h2>
            </div>
          </div>
          <div class="flex-row">
            <div class="flex-col-12">
              <div class="passport-single-venue bg-white">
                <div class="flex-row no-gutters">
                  <div class="flex-col-8">
                    <div class="passport-single--title">
                      <h4>BOGO Game of Bowling</h4>
                      <p>ACME Bowling, Biliards & Events </p>
                    </div>
                  </div>
                  <div class="flex-col-4">
                    <div class="passport-single--image"
                         style="background-image: url('../src/assets/images/SeattleBoat.jpg')">
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-col-12">
              <div class="passport-single-venue bg-white">
                <div class="flex-row no-gutters">
                  <div class="flex-col-8">
                    <div class="passport-single--title">
                      <h4>Free Admission with 1 Paid Admission of Equal Value</h4>
                      <p>Beneath the Streets</p>
                    </div>
                  </div>
                  <div class="flex-col-4">
                    <div class="passport-single--image"
                         style="background-image: url('../src/assets/images/SeattleBoat.jpg')">
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-col-12">
              <div class="passport-single-venue bg-white">
                <div class="flex-row no-gutters">
                  <div class="flex-col-8">
                    <div class="passport-single--title">
                      <h4>Free Nitro Cold Brew</h4>
                      <p>Cedabrook Lodge</p>
                    </div>
                  </div>
                  <div class="flex-col-4">
                    <div class="passport-single--image"
                         style="background-image: url('../src/assets/images/SeattleBoat.jpg')">
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>
</html>
