@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import "variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../assets/styles/externals";
@import "../../partials/header/header";
@import "../../partials/hero/hero";
@import "../../partials/hero-jumbotron/hero-jumbotron";
@import "../../partials/steps/steps";

body {
  font-family: "Open Sans", sans-serif;
  font-stretch: condensed;
  color: #5a5a5a;
}

.position-static {
  position: static;
}

.page-section {
  h2, h3, h4 {
    color: #4c769e;
  }
}

.text-sm-left {
  @media (min-width: $screen-sm) {
    text-align: left !important;
  }
}
.mt-15 {
  margin-top: 15px;
}
.mt-sm-0 {
  @media (min-width: $screen-sm) {
    margin-top: 0 !important;
  }
}


h2 {
  font-weight: 300;
  font-stretch: normal;
}

.btn {
  border-radius: 3px;
  border: none;
  font-size: 14px;
  padding: 18px 36px;
}

.checkout-venues--section {
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
}

.checkout-venue--image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/bandwango/image/upload/c_fit,h_500,w_500/c0fxj78rsekymilpj6uy ");
  margin-bottom: 0;
  img {
    border-radius: 5px;
    width: 100%;
    opacity: 0;
  }
}

.checkout-venues--number {
  color: #d88611;
  font-size: 20px;
  margin-bottom: 0;
}

.checkout-venue--title {
  line-height: 1.2;
  margin-top: 10px;
  font-size: 14px;
}

.checkout-venue--content {
  font-size: 16px;
  color: #9d9d9d
}

.checkout-venue--header {
  margin-bottom: 5px;
  >.flex-row{
    .flex-col-auto{
      display: none;
    }
  }
}

.checkout-single--venue{
  >.flex-row{
    position: relative;
    padding: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 14px 1px #00000030;
    box-shadow: 0 2px 14px 1px #00000030;
    border-radius: 4px;
    overflow: hidden;
    .flex-col-sm-auto{
      padding: 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
    }
    .flex-col{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }

  }
}

.checkout-single--venue:not(:last-child){
  border: none;
}


