@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import "variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../partials/hamburger/hamburger";
@import "../../assets/styles/externals";
@import "../../partials/header/header";
@import "../../partials/hero/hero";
@import "../../partials/hero-jumbotron/hero-jumbotron";
@import "../../partials/steps/steps";

body {
  font-family: "Open Sans", sans-serif;
  font-stretch: condensed;
  color: #5a5a5a;
}

.position-static {
  position: static;
}

.page-section {
  h2, h3, h4 {
    color: #4c769e;
  }
}

.text-sm-left {
  @media (min-width: $screen-sm) {
    text-align: left !important;
  }
}

.mt-15 {
  margin-top: 15px;
}

.mt-sm-0 {
  @media (min-width: $screen-sm) {
    margin-top: 0 !important;
  }
}

h2 {
  font-weight: 300;
  font-stretch: normal;
}

.btn {
  border-radius: 3px;
  border: none;
  font-size: 14px;
  padding: 18px 36px;
}

.checkout-venues--section {
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8ebf0+0,7db9e8+100&1+0,0+100 */
  background: -moz-linear-gradient(top, rgba(232, 235, 240, 1) 0%, rgba(125, 185, 232, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(232, 235, 240, 1) 0%, rgba(125, 185, 232, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(232, 235, 240, 1) 0%, rgba(125, 185, 232, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8ebf0', endColorstr='#007db9e8', GradientType=0); /* IE6-9 */
}

.checkout-venue--image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: auto;
  margin-bottom: 0;
  img {
    border-radius: 5px;
    width: 100%;
    opacity: 0;
  }
  @media(min-width: $screen-sm) {
    max-width: none;
  }
}

.checkout-venues--number {
  color: #d88611;
  font-size: 20px;
  margin-bottom: 0;
}

.checkout-venue--title {
  line-height: 1.2;
  margin-top: 10px;
  font-size: 14px;
}

.checkout-venue--content {
  font-size: 16px;
  color: #9d9d9d;
}

.checkout-venue--header {
  margin-bottom: 5px;
  > .flex-row {
    .flex-col-auto {
      //display: none;
    }
  }
}

.checkout-single--venue {
  .btn-info--toggle {
    text-align: left;
    color: #bdbdbd;
    font-size: inherit;
    font-weight: 400;
    margin-top: 15px;
    span.txt {
      &:before {
        content: 'More Info';
        text-transform: none;

      }
    }
    @include hover-focus-active {
      color: #bdbdbd;
    }
    &[aria-expanded=true] {
      margin-top: 30px;
      span.txt {
        &:before {
          content: 'Close';
        }
        color: red;
      }
    }
  }
  > .flex-row {
    position: relative;
    background-color: #fff;
    box-shadow: 0 2px 14px 1px #00000030;
    border-radius: 4px;
    overflow: hidden;
    @media (min-width: $screen-xs) {
      padding: 30px 15px;
    }
    > [class^="flex-col"]:first-child {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      order: 1;
      padding: 0;
    }
    > [class^="flex-col"]:last-child {
      align-self: center;
    }

  }
}

.checkout-single--venue:not(:last-child) {
  border: none;
}

.checkout-venue--title {
  color: #1D83BB !important;
  font-weight: 700;
  font-size: 16px;
  margin-top: 0;
}

.whats-included--box li {
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  @media(min-width: $screen-sm) {
    font-size: 22px;
  }
}

.whats-included--box li:before {
  display: none;
}

.whats-included--title {
  display: none;
}

.checkout-venue--info ul {
  line-height: inherit;
}

.checkout-venues--heading {
  margin-bottom: 30px;
}

.page-section--type1 {
  padding: 30px 0;
  p {
    font-size: 16px;
    color: #9d9d9d;
  }
  h2 {
    margin-top: 0;
    color: #4c769e;;
  }
  a {
    border-radius: 6px;
    background-color: #044076;
    color: #ffffff;
    text-transform: none;
    border: none;
    margin-top: 20px;
    width: auto;
    &:hover {
      color: white;
    }
  }
}
