body {
  font-family: "TradeGothicLT-BoldCondTwenty",sans-serif;
  color: #5a5a5a;
}
.position-static {
  position: static !important;
}


.text-sm-left {
  @media (min-width: $screen-sm) {
    text-align: left !important;
  }
}

.mt-15 {
  margin-top: 15px;
}

.mt-sm-0 {
  @media (min-width: $screen-sm) {
    margin-top: 0 !important;
  }
}

h2 {
  font-weight: 300;
  font-stretch: normal;
}

.btn {
  border-radius: 3px;
  border: none;
  font-size: 14px;
  padding: 18px 36px;
}
